@import '../../styles/common/colors.scss';

.dropdown {
  position: relative;
}

.dropdown-toggle {
  // &.shown {
  //   transform: translateY(-2px);
  // }
}

.dropdown-box {
  opacity: 0;
  transform: translateY(5px);
  pointer-events: none;
  position: absolute;
  top: 48px;
  right: 0px;
  width: 200px;
  box-shadow: 0 1px 15px hsla(18, 100%, 38%, 0.15);
  border-radius: 7px;
  z-index: 10;
  background-color: white;
  margin: 0;
  border: 1px solid $color-border-red;
  text-align: right;

  transition: opacity 200ms cubic-bezier(0.65, 0.05, 0.36, 1),
    transform 200ms cubic-bezier(0.65, 0.05, 0.36, 1);

  &.shown {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
}

.dropdown-box {
  &:after,
  &:before {
    bottom: 100%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:before {
    right: 25px;
    border-color: rgba(255, 201, 197, 0);
    border-bottom-color: #ffc9c5;
    border-width: 11px;
  }
  &:after {
    right: 26px;
    border-color: rgba(255, 251, 251, 0);
    border-bottom-color: #fffbfb;
    border-width: 10px;
  }
}

.dropdown-list {
  margin: 0;
  padding: 0;
}

.dropdown-item {
  margin: 0;
  font-size: 16px;
  cursor: pointer;

  a {
    color: $color-red;
    padding: 10px;
    display: block;
  }

  @media (max-width: 700px) {
    font-size: 14px;
  }

  &:hover {
    a {
      background-color: rgba(255, 229, 229, 0.35);
    }
  }

  &.separated {
    border-top: 1px solid $color-border-red;
  }
}
