@import '../../components/btn/btn.module.scss';

.subscribe-btn {
  @extend .btn;
  @extend .centered;
}

.enterprise-logos {
  img {
    max-width: 200px;
  }
  margin-bottom: 30px;
}

.gsuite {
  padding: 10px 20px;

  @media (max-width: 500px) {
    padding: 10px;
    max-width: 180px;
  }
}

.blockquote {
  font-family: 'Gotham-Rounded-Medium', 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 16px;
  padding: 40px 0;
  font-style: italic;
}

.testimonial {
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-family: 'Gotham-Rounded', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  span {
    opacity: 0.75;
  }
  img {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
  }
}

.savings {
  margin-top: 80px;
}

.sources {
  margin-top: 100px;
  font-size: 10px;
  line-height: 20px;

  sup {
    margin-right: 4px;
  }

  li:target {
    background-color: rgba(yellow, 0.25);
  }
}

.cite-link {
  border-bottom: 0;
}
