@import '../../components/btn/btn.module.scss';

.enterprise-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 10px;

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.enterprise-description {
  width: 100%;
  max-width: 500px;
}

.subscribe-btn {
  @extend .btn;
  @extend .centered;
}

.enterprise-logos {
  margin: 30px 0;

  img {
    max-height: 70px;
    @media (max-width: 700px) {
      max-height: 50px;
    }
  }

  .gsuite {
    padding: 10px 20px 10px 10px;
  }
}

.savings {
  margin-top: 80px;
}

.sources {
  margin-top: 100px;
  font-size: 10px;
  line-height: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 100px;

  sup {
    margin-right: 4px;
  }

  li:target {
    background-color: rgba(yellow, 0.25);
  }
}

.cite-link {
  border-bottom: 0;
}
