.tweet-box {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 15px;
  align-items: flex-start;
  padding-top: 0;
}

.twitter-tweet {
  max-width: 100% !important;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .tweet-box {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 15px;
    align-items: flex-start;
    padding-top: 0;
  }
}
