@import '../../styles/common/colors.scss';

.link {
  color: $color-link;
  border-bottom: 1px dashed $color-link;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    color: $color-link-hover;
    border-bottom-color: $color-link-hover;
  }

  &.inverted {
    color: white !important;
    border-color: white !important;

    &:hover {
      color: rgba(white, 0.8) !important;
      border-bottom-color: rgba(white, 0.8) !important;
    }
  }
}

.smaller {
  font-size: 11px;
}

.important {
  color: $color-text-important;
  font-weight: bold;

  &.inverted {
    color: white;
  }
}

.bold {
  font-weight: bold;
  font-family: 'Gotham-Rounded-Medium';
}

.undecorated {
  border-bottom: 0;
}

.footnote {
  display: block;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.lead {
  font-weight: bold;
  opacity: 0.5;
  font-size: 18px;
}
