@import '../components/btn/btn.module.scss';
@import '../layouts/subpage-layout.module.scss';

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 70px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 0;

    a {
      margin: 0 auto;
    }
  }
}

.header-highlight,
.highlight {
  background-color: rgb(253, 219, 215);
  padding: 0px 6px;
  display: inline-block;
  margin: 0 -6px;
  border-radius: 2px;
}

.highlight {
  padding: 0px 3px;
  margin: 0 -3px;
  line-height: 20px;

  &.inline {
    margin: 0;
  }
}

.sender-inner {
  @extend .subpage-content;
}

.container-text {
  @media (max-width: 768px) {
    margin-bottom: 70px;
  }
}

.container-image {
  display: flex;
  align-items: center;
}

.intro-header {
  .container-image {
    text-align: right;

    @media (max-width: 768px) {
      max-width: 500px;
    }
  }
}

h1.tagline {
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 35px;
  max-width: 450px;

  @media (max-width: 1050px) {
    font-size: 38px;
    max-width: 410px;
  }

  @media (max-width: 1000px) {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 30px;
    max-width: 340px;
  }

  @media (max-width: 768px) {
    margin: 0 auto 30px auto;
  }

  @media (max-width: 500px) {
    font-size: 32px;
    line-height: 36px;
  }

  @media (max-width: 400px) {
    font-size: 22px;
    line-height: 30px;
    margin: 0 auto 20px auto;
  }
}

.description {
  margin-bottom: 45px;
  font-size: 20px;
  line-height: 28px;

  @media (max-width: 400px) {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
  }
}

.features {
  margin-top: 150px;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 50px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
  }
}

.feature {
  p {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.feature-title {
  font-size: 20px;
}

.feature-img {
  max-width: 150px;
  margin-left: -15px;
}

.feature-text {
}

.end-stuff {
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 100px;
  margin-top: 100px;
}

.suggestion {
}

.image-section {
  display: grid;
  grid-column-gap: 50px;
  margin: 0 auto 100px auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.image-left {
      flex-direction: column-reverse;
    }
  }
}

.image-section-text,
.image-section-img {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p:last-child {
    margin: 0;
  }
}

.image-section-img {
  img {
    border-radius: 5px;
    max-height: 400px;
  }

  @media (max-width: 768px) {
    width: 300px;
    max-width: 100%;
    margin: 50px auto 0;
  }
}

.join-container {
}

.join-text {
  padding: 0 5px;
  font-size: 12px;
  line-height: 18px;
  max-width: 280px;
  margin-top: 20px;

  @media (max-width: 768px) {
    margin: 20px auto 0 auto;
  }
}

.unsubscribe-illustation {
  background-image: url(../assets/mail-list-illustration-twitter-walmart.png);
  background-image: url(../assets/mail-list-illustration-facebook-amazon.png);
  width: 410px;
  height: 300px;
  background-size: 410px auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.unsubscribe-example-block {
  position: relative;
}

.unsubscribe-illustation-addendum {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 20px;
}

.company-image {
  height: 36px;
  width: 36px;
  overflow: hidden;
  border-radius: 2px;
  display: flex;
  align-items: center;

  img {
    max-width: 100%;
  }
}

.company-description {
  margin-left: 14px;
}
