@import '../components/btn/btn.module.scss';
@import '../layouts/subpage-layout.module.scss';

.container {
  @extend .subpage-header-container;
}

.container-text {
  @extend .subpage-header-container-text;
}

.container-image {
  @extend .subpage-header-container-image;
}

.title {
  @extend .subpage-header-title;
}

.tagline {
  @extend .subpage-header-tagline;
}

.features {
  margin-top: 150px;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 50px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
  }
}

.feature {
  p {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.feature-title {
  font-size: 20px;
  line-height: 24px;
}

.feature-img {
  max-width: 150px;
  margin-left: -15px;
}

.feature-text {
}

.end-stuff {
  @extend .subpage-end-stuff;
}

.suggestion {
}

.join-container {
}

.join-text {
  padding: 0 5px;
  font-size: 12px;
  line-height: 18px;
  max-width: 280px;
  margin-top: 20px;

  @media (max-width: 900px) {
    margin: 20px auto 0 auto;
  }
}

.email-address,
.suggestion {
  color: $color-red;
  font-weight: bolder;
}

.email-address {
  word-break: break-all;
}

.attribution {
  margin: 100px 0 -100px 0;
  font-size: 12px;
  line-height: 20px;
  display: block;
  padding-top: 100px;
  color: $color-primary-font;
  opacity: 0.7;
  &:hover {
    color: $color-primary-font;
  }
}
