@import '../../components/btn/btn.module.scss';
@import '../../layouts/subpage-layout.module.scss';

.container {
  @extend .subpage-header-container;
}

.container-text {
  @extend .subpage-header-container-text;
}

.container-image {
  @extend .subpage-header-container-image;
}

.title {
  @extend .subpage-landing-title;
}

.tagline {
  @extend .subpage-landing-tagline;
}

.enterprise-inner {
  @extend .subpage-content;
}

.features,
.savings {
  margin-top: 150px;
}

.pricing {
  margin-top: 90px;
}

.security {
  margin-top: 0;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 50px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
  }
}

.feature {
  p {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.feature-title {
  font-size: 20px;
  line-height: 24px;
}

.feature-img {
  max-width: 150px;
  margin-left: -15px;
}

.feature-text {
}

.security {
  background-color: $color-dark-background;
  color: white;
  padding: 90px 0 170px 0;

  .image-section {
    margin-bottom: 0;
  }
  .image-section-img {
    width: 450px;
    max-width: 100%;
  }
}

.end-stuff {
  @extend .subpage-end-stuff;
}

.image-section {
  display: grid;
  grid-column-gap: 50px;
  margin: 0 auto 100px auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.image-left {
      flex-direction: column-reverse;
    }
  }
}

.image-section-text,
.image-section-img {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p:last-child {
    margin: 0;
  }
}

.image-section-img {
  img {
    border-radius: 5px;
    max-height: 400px;
  }

  @media (max-width: 768px) {
    width: 300px;
    max-width: 100%;
    margin: 50px auto 0;
  }
}

.pricing {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 10px;

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.pricing-description {
  width: 100%;
  max-width: 500px;
}

.subscribe-btn {
  @extend .btn;
  @extend .centered;
}

.provider-logos {
  margin: 30px 0;

  img {
    max-height: 50px;
  }

  .gsuite {
    padding: 10px 20px 10px 10px;
  }
}

.more {
  margin-top: 100px;
  padding-top: 100px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sources {
  margin: 100px 0 -100px 0;
  font-size: 10px;
  line-height: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 100px;

  ul {
    margin: 0;
  }

  sup {
    margin-right: 4px;
  }

  li:target {
    background-color: rgba(yellow, 0.25);
  }
}

.cite-link {
  border-bottom: 0;
}

.trustbar {
  margin-top: 90px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #eee;
  height: 84px;
}

.trustbar-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  filter: grayscale(1);

  @media (max-width: 900px) {
    padding: 20px;
  }
}

.trustbar-img {
  display: flex;
  margin-right: 15px;
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;

  &:last-child {
    margin: 0;
  }

  &:hover {
    opacity: 0.7;
  }
}
