@import './layout.module.scss';
@import '../../../components/btn/btn.module.scss';

.billing-section {
  @extend .profile-section;
}

.history {
  @extend .profile-section--unpadded;
}

.content {
  @extend .unpadded-content;
}

.invoice-price {
  font-weight: bold;
}

.invoice-price--refunded {
  color: #c3c3c3;
}

.invoice-status {
  padding: 5px 10px;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.invoice--pending {
  background-color: #f3b155;
}
.invoice--failed {
  background-color: #f1645f;
}
.invoice--paid {
  background-color: #37d288;
}
.invoice--refunded {
  background-color: #c3c3c3;
}

.invoice-btn {
  font-size: 14px;
  @extend .btn;
  @extend .muted;
  @extend .compact;
  @extend .basic;
}
