@import './../../app/profile/profile.module.scss';

.ignore-section {
  @extend .profile-section;
  @extend .profile-section--unpadded;
}
.content {
  @extend .profile-unpadded-content;
}
.table {
  a {
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: auto;
  }

  .desktop {
    @media (max-width: 500px) {
      display: none;
    }
  }

  .mobile {
    display: none;
    @media (max-width: 500px) {
      display: inline;
    }
  }
}
.sender {
  word-break: break-all;
}
