@import '../../../styles/common/colors.scss';
@import './layout.module.scss';
@import '../../../components/btn/btn.module.scss';
@import '../../../components/text/text.module.scss';

.security-section {
  @extend .profile-section;
}

.security-section.two-factor-auth {
  @extend .profile-section--unpadded;
}

.two-factor-auth-content {
  @extend .unpadded-content;
}

.unconfigured {
  font-style: italic;
}

.password-btn {
  max-width: 90%;
  margin: auto;
}

.change-password-form {
  text-align: left;
}
