@import '../../components/btn/btn.module.scss';
@import '../../layouts/subpage-layout.module.scss';

.container {
  @extend .subpage-header-container;
}

.container-text {
  @extend .subpage-header-container-text;
}

.container-image {
  @extend .subpage-header-container-image;
}

.title {
  @extend .subpage-landing-title;
}

.tagline {
  @extend .subpage-landing-tagline;
}

.climate-inner {
  @extend .subpage-content;

  sup {
    font-size: 10px;
  }
}

.donate {
  @extend .subpage-section-inverted;
}

.image-section {
  @extend .subpage-image-section;
}
.image-section-text {
  @extend .subpage-image-section-text;
}
.image-section-img {
  @extend .subpage-image-section-img;
}

.sources {
  margin: 100px 0 -100px 0;
  font-size: 10px;
  line-height: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 100px;

  ul {
    margin: 0;
  }

  sup {
    margin-right: 4px;
    font-size: 75%;
  }

  li:target {
    background-color: rgba(yellow, 0.25);
  }

  .multiple {
    display: flex;
    sup {
      top: 1em;
    }
  }
}

.questions {
}
.question {
  margin-bottom: 80px;
}

.end-stuff {
  @extend .subpage-end-stuff;
}

.join-text {
  font-size: 25px;
  line-height: 32px;
  max-width: 610px;
  margin: 0 auto;
}
