$color-primary-bg: #ffffff;
$color-secondary-bg: #fddbd7;

$color-red: rgba(231, 57, 48, 0.749);
$color-red-darker: rgba(231, 57, 48, 1);
$color-red-light: #fddbd7;
$color-red-lighter: rgba(231, 57, 48, 0.1);
$color-red-lightest: rgba(255, 217, 214, 0.1);

$color-dark-background: rgb(29, 25, 25);

$color-grey: #f2edec;
$color-grey-darker: #e9e1e1;
$color-grey-trustbar: #eee;
$color-grey-dark: #9a9393;

// $color-primary-font: hsla(0, 0%, 0%, 0.8);
$color-primary-font: #333333;

$color-text-important: $color-red;

$color-link: $color-red;
$color-link-hover: $color-red-darker;

$color-input-border: $color-grey-darker;
$color-input-border-focus: $color-primary-font;
$color-input-border-success: $color-red-darker;
$color-weak-border: $color-secondary-bg;
$color-testimonial-border: rgba(253, 219, 215, 0.5);

$color-input-label: #999;
$color-input-placeholder: #bfbfbf;
$color-input-bg: #fff;
$color-input-disabled: $color-grey-dark;
$color-input-disabled-bg: $color-grey;

$color-border-red: #ffc9c5;
$color-border-grey: rgba(0, 0, 0, 0.1);

$color-text-error: $color-red-darker;
$color-text-warning: #f55a13;
$color-text-success: #2fbc2f;
$color-text-info: #126197;
$color-text-neutral: #333333;

$color-bg-error: #f1645f;
$color-bg-warning: #f86724;
$color-bg-success: #37d288;
$color-bg-info: #4f9bcc;
$color-bg-neutral: $color-grey-dark;

$color-border-info: #a9d7f2;

$color-modal-bg: rgba(252, 219, 216, 0.75);
$color-modal-bg-opaque: rgb(252, 219, 216);

$color-btn-disabled-bg: #fdecea;
$color-btn-disabled: #f6bebc;

$color-yellow: #f8d76e;
$color-green: #37d288;
$color-purple: #c582d7;
$color-pink: #ed87a1;
