$color-primary-bg: #ffffff;
$color-secondary-bg: #fddbd7;

$color-red: rgba(231, 57, 48, 0.749);
$color-red-darker: rgba(231, 57, 48, 1);
$color-red-light: #fddbd7;
$color-red-lighter: rgba(231, 57, 48, 0.1);
$color-red-lightest: rgba(255, 217, 214, 0.1);

$color-primary-font: hsla(0, 0%, 0%, 0.8);

$color-text-important: $color-red;

$color-link: $color-red;
$color-link-hover: $color-red-darker;

$color-input-border: rgba(231, 57, 48, 0.4);
$color-input-border-focus: hsla(18, 100%, 38%, 0.25);
$color-input-label: #999;
$color-input-bg: #fff;
$color-input-disabled: #999;

$color-border-red: #ffc9c5;

$color-text-error: $color-red-darker;
$color-text-success: #2fbc2f;

$color-bg-error: #f1645f;
$color-bg-success: #37d288;
