$color-primary-bg: #ffffff;
$color-secondary-bg: #fddbd7;

$color-red: rgba(231, 57, 48, 0.749);
$color-red-darker: rgba(231, 57, 48, 1);
$color-red-light: #fddbd7;
$color-red-lighter: rgba(231, 57, 48, 0.1);
$color-red-lightest: rgba(255, 217, 214, 0.1);

$color-grey: #f2edec;
$color-grey-darker: #e9e1e1;

// $color-primary-font: hsla(0, 0%, 0%, 0.8);
$color-primary-font: #333333;

$color-text-important: $color-red;

$color-link: $color-red;
$color-link-hover: $color-red-darker;

$color-input-border: rgba(231, 57, 48, 0.4);
$color-input-border-focus: rgba(231, 57, 48, 0.8);
$color-weak-border: $color-secondary-bg;
// $color-input-border: $color-grey-darker;
// $color-input-border-focus: $color-primary-font;

$color-input-label: #999;
$color-input-placeholder: #bfbfbf;
$color-input-bg: #fff;
$color-input-disabled: #9a9393;
$color-input-disabled-bg: $color-grey;

$color-border-red: #ffc9c5;

$color-text-error: $color-red-darker;
$color-text-success: #2fbc2f;

$color-bg-error: #f1645f;
$color-bg-success: #37d288;

$color-modal-bg: rgba(252, 219, 216, 0.75);
