.price {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 15px 0;
  font-size: 24px;
  color: rgba(231, 57, 48, 0.749);
  line-height: 22px;
  font-variant-numeric: tabular-nums;
  font-family: 'Gotham-Rounded-Medium', 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.currency {
  font-size: 16px;
  line-height: 16px;
  margin: 0 5px 0 0;
}

.discounted {
  font-size: 18px;
  line-height: 20px;
  text-decoration: line-through;
  opacity: 0.6;
}

.asterisk {
  position: relative;
  &:after {
    content: '*';
    position: absolute;
    left: 100%;
  }
}

.inlinee {
  margin: 0;
}
