:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #fddbd7;
  --primary-font-color: rgba(231, 57, 48, 1);
  --link-color: rgba(231, 57, 48, 0.749);
}

body {
  background-color: var(--main-bg-color);
}

#main {
  padding-bottom: 100px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p a,
p a:visited,
p a:active,
p a:focus,
cite a,
cite a:visited,
cite a:active,
cite a:focus {
  color: var(--link-color);
  border-bottom: 1px dashed var(--link-color);
  cursor: pointer;
  font-weight: bold;
}

p a:hover,
cite a:hover {
  color: var(--primary-font-color);
  border-bottom: 1px dashed var(--primary-font-color);
}

img {
  margin: 0;
}

.friendly-neighbourhood-hero {
  height: 100vh;
  padding: 100px 0;
  text-align: center;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.more-info {
  display: block;
  font-weight: 800;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.catchy-tagline {
  font-size: 24px;
  line-height: 1.5;
  line-height: 32px;
}

.title {
  font-size: 54px;
}

h1 {
  font-size: 100px;
}

.leave-me-alone-logo {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.logo-emoji {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(8px);
  display: block;
  padding: 10px 0 0 0;
  pointer-events: none;
  font-size: 100px;
}

.leave-me-alone-logo .gmail-logo {
  width: 100%;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  filter: blur(0);
  transition: filter 500ms ease-in-out;
}

.leave-me-alone-logo .logo-emoji {
  width: 140px;
}

.leave-me-alone-logo.active .gmail-logo {
  filter: blur(10px);
}

.beam-me-up-cta {
  width: 200px;
  background-color: var(--secondary-bg-color);
  color: #e73a30;
  display: inline-block;
  padding: 15px 20px;
  font-size: 22px;

  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out,
    color 200ms ease-in-out, background-color 200ms ease-in-out;
}

/* .beam-me-up-cta--f {
  background-color: #edd0e8;
  color: #9e3fa0;
}

.beam-me-up-cta--f:hover {
  background-color: #9e3fa0;
} */

.beam-me-up-cta:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 1em hsla(18, 100%, 38%, 0.25);
  background-color: #e73a30;
  color: white;
}

/* .beam-me-up-cta--m {
  background-color: #d1e8f8;
  color: #4fa3db;
}

.beam-me-up-cta--m:hover {
  background-color: #4fa3db;
} */

.privacy,
.makers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.privacy > div,
.makers > div {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}

.huskos {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  min-height: 300px;
  width: 300px;
  overflow: hidden;
  margin: 25px auto 50px auto;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out,
    color 200ms ease-in-out, background-color 200ms ease-in-out;
  cursor: pointer;
  position: relative;
}

.huskos:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 1em hsla(18, 100%, 38%, 0.25);
}

.huskos img {
  height: 300px;
  max-width: none;
  margin: 0;
}

.privacy {
  background-color: var(--secondary-bg-color);
  color: var(--primary-font-color);
  font-weight: bolder;
  min-height: 65vh;
  padding: 250px 0 150px 0;
  text-shadow: 1px 1px 1px rgba(250, 28, 31, 0.15);
}

.privacy:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 100px solid transparent;
  border-top-color: white;
  border-left-width: 50vw;
  border-right-width: 50vw;
}

.makers:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 100px solid transparent;
  border-top-color: var(--secondary-bg-color);
  border-left-width: 50vw;
  border-right-width: 50vw;
}
.makers {
  padding-top: 200px;
  min-height: 80vh;
}

.privacy-padlock {
  font-size: 70px;
  height: 80px;
  line-height: 70px;
  margin: 50px 0 20px 0;
  display: block;
}

.privacy-source-ref {
  vertical-align: super;
  font-size: 10px;
}

.privacy-source {
  font-size: 10px;
  opacity: 0.6;
}

.privacy-title {
  margin-top: 250px;
}

.example-img {
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 50px;
  margin-top: 30px;
  padding: 10px;
  background-color: white;
}

.example-img img {
  display: block;
}

.falling-emoji {
  font-size: 20px;
  animation-duration: 10s;
  animation-name: falling;
  animation-iteration-count: infinite;
  opacity: 0.5;
  height: 100px;
  position: absolute;
  left: 10vw;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 100px;
}

.footer-link,
.footer-link:visited,
.footer-link:active,
.footer-link:focus {
  color: var(--link-color);
  border-bottom: 1px dashed var(--link-color);
  cursor: pointer;
  font-weight: bold;
}

.footer-link:hover {
  color: var(--primary-font-color);
  border-bottom: 1px dashed var(--primary-font-color);
}

.footer-nav,
.footer-social {
  margin: 0;
  padding: 0;
  display: flex;
}

.footer li {
  padding: 10px;
  margin: 0 5px;
}

.footer-social li svg {
  color: var(--link-color);
}
.footer-social li:hover svg {
  color: var(--primary-font-color);
}

@media (max-width: 400px) {
  .more-info {
    position: relative;
    bottom: -20px;
  }
}

@media (max-width: 500px) {
  .friendly-neighbourhood-hero {
    padding: 20px;
    align-items: flex-start;
  }
  /* .more-info {
    position: relative;
    bottom: -20px;
  } */
  .title {
    font-size: 35px;
  }
  .catchy-tagline {
    font-size: 20px;
  }
  .privacy {
    padding: 150px 0 50px 0;
  }
  .privacy-title {
    margin-top: 150px;
  }
  .privacy > div,
  .makers > div {
    padding: 20px;
  }
  #main,
  body,
  .footer {
    padding-bottom: 50px;
  }
}

@keyframes falling {
  0% {
    transform: translate3D(-7.5%, -100%, 0);
  }

  100% {
    transform: translate3D(7.5%, 100%, 0);
  }
}
