.hold-onto-your-butts-we-are-logging-in {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fddbd7;
  transition: background-color 600ms ease-in-out;
  padding: 10px;
}

.hold-onto-your-butts-we-are-logging-in.active {
  background-color: #ffc7c1;
}

.login-boxy-box {
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 25px;
  border-radius: 7px;
  box-shadow: 0 7px 1em hsla(18, 100%, 38%, 0.25);
  text-align: center;
}

.beautiful-logo {
  width: 100px;
  margin: 20px auto;
}

.hold-onto-your-butts-we-are-logging-in .btn {
  background-color: #fddbd7;
  color: rgba(231, 57, 48, 0.749);
  padding: 15px 25px;
  font-size: 22px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out,
    color 200ms ease-in-out, background-color 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  user-select: none;
}

.hold-onto-your-butts-we-are-logging-in .btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 1em hsla(18, 100%, 38%, 0.25);
  background-color: #e73a30;
  color: white;
}

.hold-onto-your-butts-we-are-logging-in .btn.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: no-drop;
}

.hold-onto-your-butts-we-are-logging-in .btn.compact {
  width: auto;
  padding: 5px 15px;
  font-size: 16px;
}

.hold-onto-your-butts-we-are-logging-in .btn.icon svg {
  margin-right: 7px;
  position: relative;
}

.hold-onto-your-butts-we-are-logging-in .btn.centered {
  margin: 10px auto;
}

.hold-onto-your-butts-we-are-logging-in .btn.muted {
  background-color: transparent;
}

.hold-onto-your-butts-we-are-logging-in .btn.muted:hover {
  color: rgba(231, 57, 48, 0.749);
  background-color: rgba(231, 57, 48, 0.1);
}

.tweet {
  margin-top: 50px;
}

.login-me-in-dammit {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  text-decoration: none;
}
