@import '../layouts/subpage-layout.module.scss';

.container {
  @extend .subpage-header-container;
}

.hero {
  min-height: calc(100vh - 130px);
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0 40px;

  @media (max-width: 900px) {
    padding-top: 40px;
  }
}

.container-text {
  @extend .subpage-header-container-text;
}

.container-image {
  @extend .subpage-header-container-image;
  justify-content: flex-end;
}

.title {
  @extend .subpage-landing-title;
}

.tagline {
  @extend .subpage-landing-tagline;
}

.provider-inner {
  @extend .subpage-content;
}

.end-stuff {
  @extend .subpage-end-stuff;
}

.security {
  @extend .subpage-section-inverted;

  .image-section {
    // grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-bottom: 0;
  }
  .image-section-img {
    width: 450px;
    max-width: 100%;
  }
}

.image-section {
  @extend .subpage-image-section;
}

.image-left {
  @extend .subpage-image-section--image-left;
}

.image-section-text {
  @extend .subpage-image-section-text;
}

.image-section-img {
  @extend .subpage-image-section-img;
}

.bordered {
  @extend .subpage-image-section-img--bordered;
}

.features {
  @extend .subpage-features;
}
.feature {
  @extend .subpage-feature;
}
.feature-title {
  @extend .subpage-feature-title;
}
.feature-img {
  @extend .subpage-feature-img;
}
.feature-text {
  @extend .subpage-feature-text;
}
