@import '../../layouts/subpage-layout.module.scss';
@import '../../styles/common/colors.scss';

.title {
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.item {
  flex-basis: 50%;
  max-width: 50%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 60px;

  p {
    margin-bottom: 15px;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  text-align: center;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.card {
  border: 1px solid $color-red-light;
  border-radius: 6px;
  padding: 50px 25px;
  transition: transform 150ms ease-in-out;
  box-shadow: 2px 2px 5px rgba(253, 219, 215, 0.5);

  p {
    color: $color-primary-font;
  }

  svg {
    color: $color-red;
    opacity: 0.5;
  }

  &:hover {
    transform: translateY(-2px);
  }
}

.icon {
  display: block;
  text-align: center;
  margin: 0 auto 20px auto;
}

.logo {
  display: inline-block;
  height: 44px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.loading {
  text-align: center;
}

.section {
  padding-top: 100px;
  margin-top: 100px;
  text-align: center;
}

@media (max-width: 768px) {
  .item {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.end-stuff {
  @extend .subpage-end-stuff;
}
