@import '../btn/btn.module.scss';

.header-btn {
  @extend .btn;
  @extend .basic;
  @extend .compact;
  @extend .smaller;
  @extend .on-dark-bg;
  margin-right: 15px;
  height: 36px;

  @media (max-width: 400px) {
    margin-right: 8px;
  }
}

.header-btn-text {
  @extend .btn-content;
}

.header-btn-text--short {
  display: none;
  @media (max-width: 700px) {
    display: inline;
  }
}

.header-btn-text--long {
  @media (max-width: 700px) {
    display: none;
  }
}
