.auth-loading {
  display: flex;
  width: 100%;
  height: 100%;
}

.auth-loading:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: height 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: #fddbd7;
}

.auth-loading--loaded:before {
  height: 0;
}

.dice {
  position: absolute;
  width: 150px;
  height: 150px;
  transition: opacity 200ms ease-in-out;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.auth-loading-pane {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 25px;
  border-radius: 7px;
  box-shadow: 0 0 1em hsla(18, 100%, 38%, 0.25);
  text-align: center;
  transform-origin: 50% 50%;
  background: white;
  font-size: 80px;
}

.loaded-content {
  width: 100%;
  opacity: 0;
  transition: opacity 200ms 200ms ease-in-out;
}

.auth-loading--loaded .loaded-content {
  opacity: 1;
}

.auth-loading-pane .logo-emoji {
  transform: translate(-50%, -55%);
  width: 120px;
}

.logo-emoji {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  display: block;
  padding: 10px 0 0 0;
  pointer-events: none;
}

.auth-loading-pane .envelope-logo {
  margin: 0;
  opacity: 1;
}

.auth-loading-pane .girl-logo {
  margin: 0;
  width: 150px;
}

.auth-loading-pane--front {
  animation: dice 3s infinite;
  z-index: 2;
  backface-visibility: hidden;
}

.auth-loading-pane--back {
  animation: dice-back 3s infinite;
  z-index: 1;
}

.auth-loading--loaded .dice {
  opacity: 0;
}

@keyframes dice {
  0% {
    transform: rotateY(0) rotateZ(0) rotateX(0);
  }
  16.666% {
    transform: rotateY(180deg) rotateZ(0) rotateX(0);
  }
  33.333% {
    transform: rotateY(180deg) rotateZ(180deg) rotateX(0);
  }
  50% {
    transform: rotateY(180deg) rotateZ(180deg) rotateX(180deg);
  }
  66.666% {
    transform: rotateY(360deg) rotateZ(180deg) rotateX(180deg);
  }
  83.333% {
    transform: rotateY(360deg) rotateZ(360deg) rotateX(180deg);
  }
  100% {
    transform: rotateY(360deg) rotateZ(360deg) rotateX(360deg);
  }
}
@keyframes dice-back {
  0% {
    transform: rotateY(180deg) rotateZ(0) rotateX(180deg);
  }
  16.666% {
    transform: rotateY(360deg) rotateZ(0) rotateX(180deg);
  }
  33.333% {
    transform: rotateY(360deg) rotateZ(-180deg) rotateX(180deg);
  }
  50% {
    transform: rotateY(360deg) rotateZ(-180deg) rotateX(360deg);
  }
  66.666% {
    transform: rotateY(180deg) rotateZ(-180deg) rotateX(360deg);
  }
  83.333% {
    transform: rotateY(180deg) rotateZ(-360deg) rotateX(360deg);
  }
  100% {
    transform: rotateY(180deg) rotateZ(-360deg) rotateX(180deg);
  }
}
