@import '../styles/common/colors.scss';

.error {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 25px auto 0 auto;
  background-color: $color-red-lightest;
  padding: 25px;
  border-radius: 8px;
}
