.modal {
  position: fixed;
  right: 0;
  left: 0;
  top: 50%;
  width: 550px;
  margin: 0 auto;
  background-color: white;
  border-radius: 7px;
  padding: 25px 25px 10px 25px;
  z-index: 9;
  transform: scale(0.8) translateY(-50%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.65, 0.05, 0.36, 1),
    transform 250ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.modal.shown {
  opacity: 1;
  transform: scale(1) translateY(-50%);
}

.modal-bg {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(252, 219, 216, 0.75);
  z-index: 8;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.65, 0.05, 0.36, 1),
    transform 250ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.modal-bg.shown {
  opacity: 1;
}

.modal-content {
  overflow-y: scroll;
}

.modal h3 {
  font-size: 18px;
  font-weight: bolder;
  padding-right: 25px;
}

.modal img {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #ffe3e1;
  padding-top: 6px;
  margin-top: 16px;
}

.modal-actions .emoji {
  margin-left: 10px;
}

.modal-actions .btn {
  margin-left: 10px;
}

.modal .btn:hover {
  box-shadow: none;
  transform: translateY(0);
}

.price-paid {
  display: flex;
  justify-content: center;
}

.price-paid .btn.compact {
  width: 30%;
  margin-right: 4px;
}

.modal .btn.muted {
  border: 1px solid #fddbd7;
}

.price-free .btn.compact {
  width: 30%;
  margin: 0 auto;
}

.price-free {
  margin-bottom: 15px;
}

.modal .btn.muted[data-selected='true'] {
  background-color: rgba(231, 57, 48, 0.1);
}

.price {
  margin-left: 5px;
  font-size: 70%;
  font-weight: bolder;
  position: relative;
  top: 2px;
}

.modal p {
  font-size: 16px;
  line-height: 24px;
}

.hidden {
  visibility: hidden;
}

.feedback-options {
  font-size: 16px;
}

.feedback-options li {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
}

.feedback-options li:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(231, 57, 48, 0.749);
  border: 8px solid #fddbd7;
  transform: translateY(-50%);
  transition: border-width 200ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.feedback-options li:hover:before {
  border-width: 4px;
  background-color: rgba(231, 57, 48, 0.5);
}

.feedback-options li[data-selected='true']:before {
  border-width: 2px;
  background-color: rgba(231, 57, 48, 0.749);
}

a.btn.manual-unsubscribe-btn {
  width: fit-content;
  max-width: 250px;
  margin: 0 auto 20px auto;
}

a.btn.manual-unsubscribe-btn .icon-external {
  position: relative;
  top: -1px;
  left: 5px;
}

p.unsubscribe-link-alt {
  font-size: 11px;
  line-height: 14px;
  text-align: center;
}

.unsubscribe-link {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
}

.monthly-price {
  font-size: 12px;
  margin-right: auto;
}

.strike {
  text-decoration: line-through;
}

.estimates {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.estimates p,
p.monthly-price {
  font-size: 12px;
  margin-bottom: 5px;
}

.estimates-list {
  font-size: 14px;
  line-height: 20px;
}

.estimates-timeframe,
.estimates-value {
  font-weight: bolder;
  color: rgba(231, 57, 48, 0.749);
}

.source p {
  font-size: 12px;
  line-height: 18px;
}
.source h5 {
  font-size: 12px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.disabled {
  opacity: 0.25;
  pointer-events: none;
}

@media (max-width: 350px) {
  .modal {
    padding: 10px 5px 5px 5px;
  }
  .modal p,
  .feedback-options {
    font-size: 12px;
  }
  .price-free .btn.compact,
  .price-paid .btn.compact {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 500px) {
  .modal {
    max-width: 100%;
    /* show above crisp */
    z-index: 1000001;
    padding: 15px 10px;
  }
  .modal p,
  .feedback-options {
    font-size: 14px;
  }
  .price-free .btn,
  .price-paid .btn {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.coupon {
  height: 0;
  overflow: hidden;
  transition: height 200ms ease-in-out;
}

.coupon.shown {
  height: 65px;
}

.coupon.shown + .add-coupon {
  display: none;
}

.add-coupon p {
  margin: 0;
  font-size: 12px;
}

.coupon input {
  padding: 10px;
  margin: 10px 0 0 0;
  font-size: 14px;
}

.coupon input:focus {
  box-shadow: none;
}
