@import '../../styles/common/colors.scss';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 100px 0;
  background-color: #1d1919;
  margin-top: 10em;

  a {
    opacity: 0.9;
  }
  a,
  a:hover {
    color: #eae8e8;
    border-bottom-color: transparent;
  }

  a:hover {
    opacity: 1;
    border-bottom-color: #eae8e8;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 50px 0;
  }
}

.footer-nav,
.footer-social {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer li {
  padding: 10px;
  margin: 0 5px;
}

.footer-social {
  margin-top: 2em;
}

.footer-social li svg {
  color: #eae8e8;
}
.footer-social li:hover svg {
  color: #eae8e8;
}

.subpage {
}
