@import '../../styles/common/colors.scss';
@import '../header/header.module.scss';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 30px;
  background-color: #1d1919;
  margin-top: 150px;

  a {
    opacity: 0.9;
  }
  a,
  a:hover {
    color: #eae8e8;
    border-bottom-color: transparent;
  }

  a:hover {
    opacity: 1;
    border-bottom-color: #eae8e8;
  }

  @media (max-width: 700px) {
    margin-top: 100px;
  }

  @media (max-width: 500px) {
    margin-top: 50px;
    padding: 50px 10px;
  }
}

.footer-inner {
  width: 1050px;
  max-width: 100%;
}

.footer-intro {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eae8e8;
}

.footer-links {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.footer-logo {
  @extend .header-logo;
  margin-left: 15px;
}

.footer-title {
  @extend .header-title;
  color: #eae8e8;

  &:hover {
    color: #eae8e8;
  }
}

.footer-nav,
.footer-nav-intro {
  margin: 0;
  padding: 0;
}

.footer-nav {
  flex: 1;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    min-width: 50%;
  }
}

.footer-nav-intro {
  display: flex;
}

.footer li {
  padding: 10px;
  margin: 0;
}

.footer-social {
  margin: 2em 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-social li svg {
  color: #eae8e8;
}
.footer-social li:hover svg {
  color: #eae8e8;
}

.subpage {
}

.footer-nav-title {
  color: #eae8e8;
  opacity: 0.5;
  padding: 10px;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  font-size: 14px;
}

.made-by,
p.made-by {
  text-align: center;
  color: #eae8e8;
  a {
    opacity: 0.9;
  }
  a,
  a:hover {
    color: #eae8e8;
    border-bottom-color: transparent;
  }

  a:hover {
    opacity: 1;
    border-bottom-color: #eae8e8;
  }
}
