.tweet-wall {
}

.tweet-box {
  margin: 45px auto 6em auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
  align-items: flex-start;
  padding-top: 0;
}

.twitter-tweet {
  display: block;
}

.twitter-tweet > div {
  margin: 0 auto 10px auto;
}

.col {
}
