@import '../../../styles/common/colors.scss';

$image-size: 50px;
$image-size-tablet: 30px;

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
}

.col {
}

.wrapper {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.box {
  border: 2px solid $color-grey;
  border-radius: 5px;
  display: grid;
  grid-template-columns: $image-size 1fr;
  padding: 20px;
  transition: transform 200ms ease-in-out;

  &:hover {
    transform: translateY(-2px);
  }
}

.img {
  width: $image-size;
  height: $image-size;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-letter {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

.content {
  margin-left: 20px;
  font-size: 14px;
  line-height: 22px;
}

.text {
  margin-bottom: 20px;
}

.highlight {
  font-weight: bold;
  background-color: $color-red-light;
  padding: 2px 0;
  border-radius: 2px;
}

.name-container {
  display: flex;
  align-items: center;
}

.name {
  font-weight: bold;
  white-space: nowrap;
  margin-right: 10px;
  display: inline-block;
  line-height: 30px;
}

.twitter-link,
.twitter-link:hover,
.twitter-link:focus {
  color: $color-primary-font;
}

.company-container {
  display: flex;
  align-items: center;
  max-height: 30px;
  max-width: 100%;
}

.invert {
  padding: 2px 3px;
  display: flex;
  align-items: center;

  &.b13technology {
    background-color: #0d284b;
  }

  &.graphql360 {
    background-color: #0d415b;
  }
}

.company-logo {
  max-height: 30px;

  &.ptobot {
    position: relative;
    top: -3px;
  }
}

.company-name {
  display: none;
}
