@import './layout.module.scss';
@import '../../components/btn/btn.module.scss';
@import '../../components/form/form.module.scss';

.billing-section {
  @extend .profile-section;
}

.information {
  p {
    margin: 0;
  }
}

.history {
  @extend .profile-section--unpadded;
}

.content {
  @extend .unpadded-content;
}

.invoice-price {
  font-weight: bold;
}

.invoice-price--refunded {
  color: #c3c3c3;
}

.invoice-status,
.payg-status {
  padding: 5px 10px;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.invoice--pending {
  background-color: #f3b155;
}
.invoice--failed,
.payg-status.inactive {
  background-color: #f1645f;
}
.invoice--paid,
.payg-status.active {
  background-color: #37d288;
}
.invoice--refunded {
  background-color: #c3c3c3;
}

.invoice-btn {
  font-size: 14px;
  @extend .btn;
  @extend .muted;
  @extend .compact;
  @extend .basic;
}

.plans-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;

  > * {
    margin: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.plan-title {
  font-size: 18px;
  margin: 0;
}

.billing-btn {
  @extend .btn;
  @extend .compact;
  @extend .basic;
}

.package-buy-btn {
  position: relative;
}
.package-discount {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  white-space: nowrap;
  transition: opacity 200ms ease-in-out;
}

.package-buy-btn:hover .package-discount {
  opacity: 1;
}
