.mail-list ul {
  list-style: none;
  background-color: rgba(255, 217, 214, 0.1);
  margin: 15px 0 0 0;
}

.mail-item {
  display: flex;
  border-bottom: 1px solid #ffc9c5;
  padding: 10px;
  padding: 20px 20px;
  align-items: center;
  margin: 0;
}
.mail-content {
  display: flex;
  align-items: center;
}

.from {
  font-size: 14px;
  font-weight: bolder;
  margin-right: 20px;
  overflow: hidden;
  flex: 1;
}

.from-email,
.from-name,
.from-date {
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.from-email {
  opacity: 0.75;
  font-size: 11px;
}

.from-date {
  opacity: 0.5;
  font-size: 11px;
  line-height: 14px;
}

.subject {
  font-size: 14px;
  margin-right: 20px;
  flex: 2;
}

.actions {
  font-size: 12px;
  margin-left: auto;
  width: 64px;
  text-align: center;
}

.unsubscribe {
  font-size: 10px;
  line-height: 16px !important;
  display: none;
}

.mail-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.results-data {
  font-size: 14px;
  font-weight: bolder;
  padding-left: 5px;
  min-width: 200px;
}

.quantity {
  margin-right: 2px;
}

.mail-empty-state {
  background-color: rgba(252, 219, 216, 0.2);
  padding: 30px 15px;
  border-radius: 7px;
  text-align: center;
  margin: 50px auto;
}

.failed-to-unsub-btn {
  cursor: pointer;
  stroke: rgba(231, 57, 48, 0.749);
}

.failed-to-unsub-btn:hover {
  stroke: rgba(231, 57, 48, 1);
}

.progress {
  font-size: 14px;
  font-weight: bolder;
  display: inline-block;
  width: 120px;
  opacity: 1;
  transition: opacity 250ms 1s ease-in-out;
  text-align: center;
}

.finished .progress {
  opacity: 0;
}

.mail-error {
  text-align: center;
  width: 600px;
  margin: 25px auto 0 auto;
  background-color: rgba(255, 217, 214, 0.1);
  padding: 25px;
  border-radius: 8px;
}

pre {
  text-align: left;
}

.mail-list-item {
  transition: all 250ms ease-in;
}
.mail-list-item-enter {
  opacity: 0;
  transform: translate(0, 10px);
}

.mail-list-item-enter-active {
  opacity: 1;
  transform: translate(0, 0);
}

.mail-list-item-exit {
  opacity: 1;
}

.mail-list-item-exit-active {
  opacity: 0;
}

.revoke-token-instructions {
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
}

.revoke-warning {
  display: block;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  color: rgba(231, 57, 48, 1);
}

.revoke-link:hover + .revoke-warning {
  opacity: 1;
}

.icon-external {
  position: relative;
  left: 3px;
}
