@import '../../styles/common/colors.scss';

.mail {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  padding: 50px 20px;
}

.welcome-content {
  transition: opacity 250ms cubic-bezier(0.65, 0.05, 0.36, 1);
  opacity: 1;
  padding-bottom: 80px;
}
.welcome-content.exiting,
.welcome-content.exited {
  opacity: 0;
}

.beta-text {
  font-size: 18px;
  font-weight: bolder;
  color: $color-red;
}

.welcome-logo {
  margin-bottom: 20px;
}

.unsub-gif {
  width: 90%;
  max-width: 450px;
  margin-top: 20px;
  border: 1px solid #ffd9d6;
  border-radius: 8px;
}

.first-logon-content {
  text-align: center;
  padding: 50px 10px;
}

.first-logon-image {
  width: 150px;
  max-width: 80%;
}
