@import '../../layouts/subpage-layout.module.scss';

.container {
  @extend .subpage-header-container;
}

.hero {
  min-height: calc(100vh - 50px - 104px);
  padding-top: 120px;
}

.container-text {
  @extend .subpage-header-container-text;
}

.container-image {
  @extend .subpage-header-container-image;
}

.title {
  @extend .subpage-header-title;
}

.tagline {
  @extend .subpage-header-tagline;
}

.provider-inner {
  @extend .subpage-content;
}

.end-stuff {
  text-align: center;
  margin-top: 100px;
}

.security {
  @extend .subpage-section-inverted;

  .image-section {
    margin-bottom: 0;
  }
  .image-section-img {
    width: 450px;
    max-width: 100%;
  }
}

.image-section {
  @extend .subpage-image-section;
}

.image-left {
  @extend .subpage-image-section--image-left;
}

.image-section-text {
  @extend .subpage-image-section-text;
}

.image-section-img {
  @extend .subpage-image-section-img;
}

.bordered {
  @extend .subpage-image-section-img--bordered;
}

.trustbar {
  margin-top: 20px;
  border-top: 1px solid $color-border-grey;
  background: $color-grey-trustbar;
  height: 84px;
}

.trustbar-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;

  @media (max-width: 900px) {
    padding: 20px;
  }
}

.trustbar-img {
  display: flex;
  margin-right: 15px;
  height: 100%;

  img {
    max-height: 100%;
  }

  &:last-child {
    margin: 0;
  }
}
