@import '../../../styles/common/colors.scss';

.invite-modal {
  max-width: 700px;
  width: 100%;
}

.list {
  margin: 0;

  li {
    display: inline-block;
    margin: 0 6px 6px 0;
  }
}

.email {
  display: inline-block;
  background: #fff3f1;
  border: 1px solid $color-border-red;
  margin: 0;
  padding: 2px 10px;
  border-radius: 4px;
}
