.icon {
  position: relative;
  z-index: 1;
}

.pad-left {
  margin-left: 7px;
}
.pad-right {
  margin-right: 7px;
}

.heart {
  color: #ff5955;
  fill: #ffb9b6;
}

.settings {
}
.mail {
}
.card {
}
.external {
}
.twitter {
}
.clock {
}
.reload {
}
.close {
}
.lock {
}
