.icon {
  position: relative;
  z-index: 1;
  margin-right: 7px;
  top: 1px;
}

.pad-left {
  margin: 0 0 0 7px;
}

.heart {
  color: #ff5955;
  fill: #ffb9b6;
}
.settings {
}
.mail {
}
.card {
}
.external {
}
.twitter {
}
.clock {
  top: -1px;
}
.reload {
}
.close {
}
.lock {
}
.user {
}
.link {
  top: 1px;
}

.arrows {
}

.gift {
  margin-right: 0;
}
.filled path {
  fill: #fde4e2;
}

.gift-wrapper {
  position: relative;
  top: 2px;
}

[data-amount]::after {
  position: absolute;
  content: attr(data-amount) ' ';
  left: 50%;
  z-index: 1;
  top: 50%;
  transform: translate(-50%, -50%) translateY(3px);
  font-family: 'Gotham-Rounded-Medium';
  font-size: 14px;
  font-weight: bolder;
}
.star {
}
