body {
  padding-bottom: 0;
}

.subpage-header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid rgb(231, 58, 48, 0.1);
  height: 50px;
  width: 100%;
  overflow: hidden;
  background-color: #fddbd7;
}

.subpage-header-nav {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
  align-items: center;
  font-size: 16px;
}

.subpage-header-btn {
  width: auto;
  padding: 10px 15px;
  background-color: rgba(255, 251, 251, 0.45);
  color: rgba(231, 57, 48, 0.749);
  font-size: 16px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
  margin: 10px 0;
  user-select: none;
}

.subpage-header-btn:hover {
  background-color: #e73a30;
  color: white;
}

.subpage-header-nav li {
  margin: 0 5px;
}

.subpage-header-nav li a,
.subpage-header-nav li a:hover {
  padding: 10px;
  border-bottom: none;
}

.subpage-header .subpage-header-btn,
.subpage-header .subpage-header-btn:hover {
  padding: 10px 15px;
}

.subpage-header-nav .nav-login {
  padding: 0 0 0 10px;
  margin-right: 0;
}

.subpage-header-title {
  font-size: 18px;
  margin-left: 15px;
  font-weight: bold;
}

.subpage-header-logo {
  display: inline-block;
  height: 32px;
  margin: 0;
}

.subpage-header-logo img {
  height: 100%;
}

.subpage {
  padding: 80px 44px;
  background-color: #fff;
  min-height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
}

.subpage-content {
  width: 990px;
  max-width: 100%;
  margin: 0 auto;
  flex: 1;
}

.subpage h1 {
  font-size: 50px;
}

.subpage .footer {
  padding-bottom: 0;
}

.subpage-centered {
  text-align: center;
}

.subpage-centered .subpage-content {
  max-width: 600px;
}

.subpage-section-emoji {
  font-size: 60px;
  height: 80px;
  line-height: 70px;
  margin: 50px 0 20px 0;
  display: block;
}

@media (max-width: 768px) {
  .subpage {
    padding: 40px 20px;
  }
}

@media (max-width: 600px) {
  .subpage-centered .subpage-content {
    max-width: 100%;
  }
  .subpage-header-title {
    display: none;
  }
  .subpage-header-nav .nav-how {
    display: none;
  }
}

@media (max-width: 400px) {
  .subpage-header {
    height: 50px;
    padding: 0 10px;
  }
  .subpage-header-logo {
    height: 24px;
  }
  .subpage-header-nav {
    font-size: 14px;
  }
  .subpage-header-nav li {
    padding: 0;
  }
  /* .subpage-header-nav .beam-me-up-cta--header {
    font-size: 14px;
    padding: 5px 10px;
  } */
}
