body {
  padding-bottom: none;
}

a {
  text-decoration: none;
}

.subpage a,
.subpage a:visited,
.subpage a:active,
.subpage a:focus {
  color: var(--link-color);
  border-bottom: 1px dashed var(--link-color);
  cursor: pointer;
  font-weight: bold;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid rgb(231, 58, 48, 0.1);
  height: 50px;
  width: 100%;
  overflow: hidden;
  background-color: #fddbd7;
}

.header-title {
  font-size: 18px;
  margin-left: 15px;
  font-weight: bold;
}

.header-logo {
  display: inline-block;
  height: 65%;
  margin: 0;
}

.header-logo img {
  height: 100%;
}

.subpage {
  padding: 80px 44px;
  background-color: #fff9f9;
  min-height: 100%;
}

.subpage-content {
  width: 990px;
  max-width: 100%;
  margin: 0 auto;
}

.subpage h1 {
  font-size: 50px;
}
