.subpage {
  padding: 80px 40px 0 40px;
  background-color: #fff;
  min-height: calc(100% - 50px);
  display: flex;
  flex-direction: column;

  @media (max-width: 700px) {
    padding: 80px 20px 0 20px;
  }
}

.subpage-content {
  width: 1050px;
  max-width: 100%;
  margin: 0 auto;
  flex: 1;
}

.subpage h1 {
  font-size: 32px;
}

.subpage h2 {
  font-size: 26px;
}

.centered {
  text-align: center;
}

.centered .subpage-content {
  max-width: 600px;
}

.subpage-section {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .subpage {
    padding: 40px 20px;
  }
}

@media (max-width: 600px) {
  .centered .subpage-content {
    max-width: 100%;
  }
}
