@import '../../btn/btn.module.scss';

.unsub-modal {
  max-width: 540px;
  width: 100%;
}

.emoji {
  margin-left: 10px;
}

.unsub-img-container {
  position: relative;
  height: 375px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
}

.manual-unsubscribe-btn {
  @extend .btn;
  @extend .compact;

  width: fit-content;
  max-width: 250px;
  margin: 0 auto 20px auto;
}

p.unsubscribe-link-alt {
  font-size: 11px;
  line-height: 14px;
  text-align: center;

  span {
    display: block;
  }
}

.unsubscribe-link {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  max-width: 100%;
}

.feedback-options {
  font-size: 16px;
}

.feedback-options li {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
}

.feedback-options li:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $color-red;
  border: 8px solid $color-red-light;
  transform: translateY(-50%);
  transition: border-width 200ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.feedback-options li:hover:before {
  border-width: 4px;
  background-color: rgba(231, 57, 48, 0.5);
}

.feedback-options li[data-selected='true']:before {
  border-width: 2px;
  background-color: $color-red;
}

.modal-img-bordered {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.hidden {
  visibility: hidden;
}
