@import '../../components/btn/btn.module.scss';

.faqs {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.faq-title {
}
.faq-box {
}

.cta {
  @extend .btn;
  @extend .stretch;
  width: auto;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.bottom-bit {
  margin: 100px auto 0 auto;
  padding-top: 100px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
